@media all and (min-width: 480px) {
  .container {
    padding: 0 2rem;
  }

  .Login {
    padding: 60px 0;
  }

  .form {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 300px;
  }

  .formLabel {
    padding-left: 3.5rem;
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
    line-height: 0.75;
    font-size: 1rem;
  }

  .formInput {
    margin-left: 3.5rem;
    border: 1px solid #000000;
    border-radius: 5px;
    min-height: 30px;
    max-height: 30px;
    max-width: 250px;
  }
  .button {
    margin-top: 1.25rem;
    margin-left: 3.5rem;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
    min-height: 30px;
    min-width: auto;
  }
}
